body {
    background-color: rgb(30, 31, 63);
}

div.Janela_principal {
    background-color: rgb(41, 38, 38);
    width: 500px;
    height: auto;
    box-shadow: 0 2px 100px blue;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1.titulo {
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0px 8px blue;
    font-family: verdana;
}

h2.descricao {
    color: white;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 0 0px 8px blue;
    font-family: verdana;
}

img.principal {
    image-orientation: center;
    height: auto;
    width: auto;
    box-shadow: 0px 0px 30px 1px blue;
    height: 400px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-radius: 10px;
    object-fit: cover; 
    image-rendering: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
